@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgb(255,255,255),rgb(57, 100, 207));
    min-height: 100vh;
}
section.chat_section{
    width: 800px;
    max-width: 90%;
    background: #fff;
    border: 2px solid black;
}
.brand{
    padding: 7px;
    display: flex;
    background : #f1f1f1;
    align-items: center;
}
.brand h1{
    text-transform: uppercase;
    color: #444;
    margin-left: 10px;
    font-size: 20px;
}
.message_area{
   flex-direction: column;
    display: flex;
    overflow-y: auto;
    border: 2px solid black;
    padding: 16px;
    margin: auto;
    height: 500px;
  
}
#textarea{
    width: 94%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #fbfbfb;
}
.message{
    padding: 0px;
    margin-bottom: 40px;
    max-width: 300px;
    border-radius: 4px;
    position: relative;
    border: 2px solid black;
}
.incoming{
background: #8f8be8;
color: #fff;
}
.outgoing{
    background: #e9eafd;
    color: #000000;
    margin-left: auto;
}
.message h4{
    position: absolute;
    top: -34px;
    left:0%;
    color: #333;
    font-size : 14px;
}
